*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 80px;
    background-color: var(--head);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0562);
    margin: auto;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}       
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.nav__h1{
    font-size: 24px;
    color: var(--oq);
}
.nav__btn{
    background-color: transparent;
    border: none;
    color: var(--oq);
    font-size: 16px;
}
/* section one ********************************************************************************** */
.one{
    width: 100%;
    height: 900px;
    background-color: var(--sec);
    margin: auto;
}
.sec__one__input{
    width: 480px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color: var(--head);
    padding-left: 30px;
    color: var(--oq);
}
.one .container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    height: 900px;
}
.sec__one__cards{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.sec__one__box{
    display: flex;
    gap: 50px;
}
.sec__one__card{
    width: 264px;
    height: 250px;
    background-color: var(--head);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: start;
}
.sec__one__h2{
    color: var(--oq);
    font-size: 18px;
}













:root{
    --head:rgba(43, 56, 68, 1);
    --sec:rgba(32, 44, 54, 1);
    --oq:white;
    --qora:black;
}
.dark{
    --head:rgb(130, 170, 207);
    --sec:rgb(68, 123, 169);
    --oq:black;
    --qora:white;
}














@media(max-width:1250px){
    header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .one{
        padding-left: 30px;
        padding-right: 30px;
    }
    .sec__one__box{
        transform: scale(0.9);
    }
}
@media(max-width:1150px){
    header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .one{
        height: 1628px;
    }
    .one .container{
        height: 1628px;
    }
    .sec__one__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .sec__one__box{
        transform: scale(1.2);
        gap: 200px;
    }
}
@media(max-width:880px){
    header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .one{
        height: 1628px;
    }
    .one .container{
        height: 1628px;
    }
    .sec__one__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .sec__one__box{
        transform: scale(1);
        gap: 100px;
    }
}
@media(max-width:670px){
    header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .one{
        height: 1628px;
    }
    .one .container{
        height: 1628px;
    }
    .sec__one__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .sec__one__box{
        transform: scale(0.9);
        gap: 50px;
    }
    .sec__one__input{
        width: 100%;
    }
}
@media(max-width:550px){
    header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .one{
        height: 3028px;
    }
    .one .container{
        height: 3028px;
    }
    .sec__one__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }
    .sec__one__box{
        transform: scale(1.1);
        gap: 70px;
        display: flex;
        flex-direction: column;
    }
    .sec__one__input{
        width: 100%;
    }
    .nav__h1{
        font-size: 18px;
    }
}
